/* PROJECT 1 */
/* w3schools */
/* MDN */
body {
    background-image: url('/img/vector.jpg');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
}
/* stack overflow */
@font-face {
    font-family: 'komikax';
    src: url('/font/KOMIKAX_.ttf');
}

h1 {
    font-family: 'komikax';
    font-size: 15vh;
    color: white;
    text-align: center;
    /* css-tricks */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

#player-score {
    font-family: 'komikax';
    color: #e53935;
    font-size: 10vh;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

#computer-score {
    font-family: 'komikax';
    color: #e53935;
    font-size: 10vh;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

#draw-score {
    font-family: 'komikax';
    color: #e53935;
    font-size: 10vh;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

h2 {
    font-family: 'komikax';
    font-size: 10vh;
    color: #e53935;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
#you {
    font-family: 'komikax';
    font-size: 5vh;
    color: #fcc02e;
    font-size: 10vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#draws {
    font-family: 'komikax';
    font-size: 5vh;
    color: #fcc02e;
    font-size: 10vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#computer {
    font-family: 'komikax';
    font-size: 5vh;
    color: #fcc02e;
    font-size: 10vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#choose {
    font-family: 'komikax';
    font-size: 5vh;
    color: #fcc02e;
    font-size: 10vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
/* stack overflow */
#rock {
    background: url(/img/rock_button.png) 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    height: 200px;
    width: 200px;
    color: transparent;
    position: relative;
    cursor: pointer;
    transition: transform 0.25s ease-in;
    font-size: 0;
}

#rock:hover {
    transform: translateY(-1rem);
}
/* medium.com */
#rock:focus {
    outline: none;
}

#paper {
    background: url(/img/paper_button.png) 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    height: 200px;
    width: 200px;
    color: transparent;
    position: relative;
    cursor: pointer;
    transition: transform 0.25s ease-in;
    font-size: 0;
}

#paper:hover {
    transform: translateY(-1rem);
}

#paper:focus {
    outline: none;
}

#scissors {
    background: url(/img/scissors_button.png) 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    height: 200px;
    width: 200px;
    color: transparent;
    position: relative;
    cursor: pointer;
    transition: transform 0.25s ease-in;
    font-size: 0;
    text-decoration: none;
}

#scissors:hover {
    transform: translateY(-1rem);
}

#scissors:focus {
    outline: none;
}
/* css-tricks */
.shake {
    animation: 0.45s shake 3;
}
@keyframes shake {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-50px);
    }
}
