/* PROJECT 1 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stack overflow */
@font-face {
    font-family: 'komikax';
    src: url('/font/KOMIKAX_.ttf');
}

.intro {
    background: #fcc02e;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
    z-index: 2;
}

.intro h1 {
    font-size: 12vh;
    -webkit-text-stroke-color: black;
}
/* stack overflow */
.intro button {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 6px solid black;
    font-family: 'komikax';
    font-size: 8vh;
    color: white;
    background: #e53935;
    cursor: pointer;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    left: -300px;
    transition: transform 0.25s ease-in;
}

.intro button:hover {
    transform: translateY(-1rem);
}

.intro button:focus {
    outline: none;
}
/* w3schools */
/* MDN */
body {
    background-image: url('/img/vector.jpg');
    background-color: white;
    background-size: cover;
    min-height: 100vh;
    background-position: top;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'komikax';
    font-size: 12vh;
    color: white;
    text-align: center;
    padding: 20px;
    /* css-tricks */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

@media (max-width: 700px) {
    .score-container {
        display: flex;
        flex-direction: column;
    }
}

.score-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -50px;
}

.points {
    display: flex;
    flex-direction: row;
}

.points h3 {
    margin-left: 35px;
}

#you {
    font-family: 'komikax';
    font-size: 8vh;
    color: #fcc02e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#draws {
    font-family: 'komikax';
    font-size: 8vh;
    color: #fcc02e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#computer {
    font-family: 'komikax';
    font-size: 8vh;
    color: #fcc02e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#player-score {
    font-family: 'komikax';
    color: #e53935;
    font-size: 8vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#computer-score {
    font-family: 'komikax';
    color: #e53935;
    font-size: 8vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#draw-score {
    font-family: 'komikax';
    color: #e53935;
    font-size: 8vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h2 {
    font-family: 'komikax';
    font-size: 10vh;
    color: #e53935;
    text-align: center;
    justify-content: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* #player-hand {
    padding: 10px 10px 10px 10px;
}

#computer-hand {
    padding: 10px 10px 10px 10px;
} */

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#choose {
    font-family: 'komikax';
    font-size: 10vh;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
/* stack overflow */
#rock {
    background: url(/img/rock_button.png) 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    height: 200px;
    width: 200px;
    color: transparent;
    position: relative;
    cursor: pointer;
    transition: transform 0.25s ease-in;
    font-size: 0;
    left: 90px;
}

#rock:hover {
    transform: translateY(-1rem);
}
/* medium.com */
#rock:focus {
    outline: none;
}

#paper {
    background: url(/img/paper_button.png) 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    height: 200px;
    width: 200px;
    color: transparent;
    position: relative;
    cursor: pointer;
    transition: transform 0.25s ease-in;
    font-size: 0;
}

#paper:hover {
    transform: translateY(-1rem);
}

#paper:focus {
    outline: none;
}

#scissors {
    background: url(/img/scissors_button.png) 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    height: 200px;
    width: 200px;
    color: transparent;
    position: relative;
    cursor: pointer;
    transition: transform 0.25s ease-in;
    font-size: 0;
    text-decoration: none;
    left: -90px;
}

#scissors:hover {
    transform: translateY(-1rem);
}

#scissors:focus {
    outline: none;
}
/* css-tricks */
.shake {
    animation: 0.45s shake 3;
}
@keyframes shake {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-50px);
    }
}

.win {
    background: #fcc02e;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.win h1 {
    font-size: 12vh;
}

.win button {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 6px solid black;
    font-family: 'komikax';
    font-size: 5vh;
    color: white;
    background: #e53935;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    left: -300px;
    transition: transform 0.25s ease-in;
}

.win button:hover {
    transform: translateY(-1rem);
}

.win button:focus {
    outline: none;
}

.lose {
    background: #fcc02e;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.lose h1 {
    font-size: 12vh;
}

.lose button {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 6px solid black;
    font-family: 'komikax';
    font-size: 5vh;
    color: white;
    background: #e53935;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    left: -300px;
    transition: transform 0.25s ease-in;
}

.lose button:hover {
    transform: translateY(-1rem);
}

.lose button:focus {
    outline: none;
}

.draw {
    background: #fcc02e;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.draw h1 {
    font-size: 12vh;
}

.draw button {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 6px solid black;
    font-family: 'komikax';
    font-size: 5vh;
    color: white;
    background: #e53935;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    left: -300px;
    transition: transform 0.25s ease-in;
}

.draw button:hover {
    transform: translateY(-1rem);
}

.draw button:focus {
    outline: none;
}
