/* PROJECT 1 // ROCK PAPER SCISSORS GAME */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* background */
/* <---- css-tricks ----> */
html {
    background: url('./img/vector.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    letter-spacing: 2px;
    text-align: center;
}
/* stack overflow */
/* fonts file */
@font-face {
    font-family: 'komikax';
    src: url('./font/KOMIKAX_.ttf');
}
/* intro screen */
.intro {
    background: #fcc02e;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
    z-index: 2;
}
/* intro tittle (Rock Paper Scissors) */
.intro h1 {
    font-size: 10vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
/* stack overflow */
.intro button {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid black;
    font-family: 'komikax';
    font-size: 10vh;
    color: white;
    background: #e53935;
    cursor: pointer;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.intro button:hover {
    transform: translateY(-1rem);
}

.intro button:focus {
    outline: none;
}
/* game tittle (Rock Paper Scissors) */
h1 {
    font-family: 'komikax';
    font-size: 10vh;
    color: white;
    text-align: center;
    padding: 20px;
    /* css-tricks */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
/* scores */
.score-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -50px;
}
/* media query */
@media (max-width: 1200px) {
    .score-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.points {
    display: flex;
    flex-direction: row;
}

.points h3 {
    margin-left: 35px;
}
/* titles for scores (You Draw Computer) */
#you {
    font-family: 'komikax';
    font-size: 8vh;
    color: #fcc02e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#computer {
    font-family: 'komikax';
    font-size: 8vh;
    color: #fcc02e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#draws {
    font-family: 'komikax';
    font-size: 8vh;
    color: #fcc02e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

/* score numbers */
#player-score {
    font-family: 'komikax';
    color: #e53935;
    font-size: 8vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#computer-score {
    font-family: 'komikax';
    color: #e53935;
    font-size: 8vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#draw-score {
    font-family: 'komikax';
    color: #e53935;
    font-size: 8vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
/* interchangeable announcements (Ready to Play?) */
h2 {
    font-family: 'komikax';
    font-size: 8vh;
    color: #e53935;
    text-align: center;
    justify-content: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-iteration-count: none;
}

/* images on stage */
.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
}

/* images on stage animation */
/* css-tricks */
.shake {
    animation: 0.45s shake 3;
}
@keyframes shake {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-50px);
    }
}
/* player's choices */
.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 1200px) {
    .buttons-container {
        display: flex;
        justify-content: center;
    }
}

/* choice images */
/* stack overflow */
#rock {
    background: url('./img/rock_button.png') 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    height: 200px;
    width: 200px;
    color: transparent;
    position: relative;
    cursor: pointer;
    transition: transform 0.25s ease-in;
    font-size: 0;
}

#rock:hover {
    transform: translateY(-1rem);
}
/* medium.com */
#rock:focus {
    outline: none;
}

#paper {
    background: url('./img/paper_button.png') 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    height: 200px;
    width: 200px;
    color: transparent;
    position: relative;
    cursor: pointer;
    transition: transform 0.25s ease-in;
    font-size: 0;
}

#paper:hover {
    transform: translateY(-1rem);
}

#paper:focus {
    outline: none;
}

#scissors {
    background: url('./img/scissors_button.png') 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    height: 200px;
    width: 200px;
    color: transparent;
    position: relative;
    cursor: pointer;
    transition: transform 0.25s ease-in;
    font-size: 0;
    text-decoration: none;
}

#scissors:hover {
    transform: translateY(-1rem);
}

#scissors:focus {
    outline: none;
}
/* choose wisely message */
#choose {
    font-family: 'komikax';
    font-size: 10vh;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
/* screens */
.win {
    background: #fcc02e;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
    z-index: 2;
    top: 0;
}

.win h1 {
    font-size: 10vh;
}

.win button {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid black;
    font-family: 'komikax';
    font-size: 10vh;
    color: white;
    background: #e53935;
    cursor: pointer;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.win button:hover {
    transform: translateY(-1rem);
}

.win button:focus {
    outline: none;
}

.lose {
    background: #fcc02e;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
    z-index: 2;
    top: 0;
}

.lose h1 {
    font-size: 10vh;
}

.lose button {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid black;
    font-family: 'komikax';
    font-size: 10vh;
    color: white;
    background: #e53935;
    cursor: pointer;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.lose button:hover {
    transform: translateY(-1rem);
}

.lose button:focus {
    outline: none;
}

.draw {
    background: #fcc02e;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
    z-index: 2;
    top: 0;
}

.draw h1 {
    font-size: 10vh;
}

.draw button {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid black;
    font-family: 'komikax';
    font-size: 10vh;
    color: white;
    background: #e53935;
    cursor: pointer;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.draw button:hover {
    transform: translateY(-1rem);
}

.draw button:focus {
    outline: none;
}

@keyframes pulse {
    from {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.75);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

h6 {
    font-family: 'komikax';
    font-size: 2vh;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

a {
    text-decoration: none;
}
